/* Start Global Rule */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --transition: 0.3s;
    --section-color: #ececec;
    --padding: 100px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
    @media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
    @media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
.main-tittle {
    position: relative;
    margin: 60px auto;
    width: fit-content;
    border: 2px solid black;
    font-size: 30px;
    padding: 10px 20px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    z-index: 3;
    bottom: 50px;
}
.main-tittle::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.main-tittle::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.main-tittle:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.8s;
}
.main-tittle:hover::before {
    animation: left-move 0.8s linear forwards;
    -webkit-animation: left-move 0.8s linear forwards;
    z-index: -1;
}
.main-tittle:hover::after {
    animation: right-move 0.8s linear forwards;
    -webkit-animation: right-move 0.8s linear forwards;
    z-index: -1;
}
@media (max-width: 768px) {
    .main-tittle {
        margin: 20px auto;
    }
}
/* End Global Rule */

/* Start header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .container .logo {
    color: var(--main-color);
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
}
@media (max-width:768px) {
    .header .container .logo {
    width: 100%;
    height: 61px;
    }
}
.header .container .list {
    display: flex;
}
@media (max-width: 768px) {
    .header .container .list {
        margin: 0 auto;
    }
}
.header .container .list > li > a {
    display: flex;
    position: relative;
    padding: 0 30px;
    color: black;
    font-size: 18px;
    height: 72px;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}
@media (max-width:768px) {
    .header .container .list > li > a {
    padding: 14px;
    height: 50px;
    font-size: 16px;
    }
}
.header .container .list > li > a::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: var(--main-color);
    top: 0;
    transition: var(--transition);
}
.header .container .list > li > a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}
.header .container .list > li > a:hover::before {
    width: 100%;
}
.header .container .list .mega-reveal:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
/* Start Megamenu */
.mega-menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: calc(100% + 80px);
    z-index: -1;
    background-color: white;
    width: 100%;
    gap: 30px;
    border-bottom: 3px solid var(--main-color);
    padding: 30px;
    opacity: 0;
    transition: var(--transition);
}
.mega-menu .image img {
    max-width: 100%;
    width: 400px;
    padding-top: 15px;
}
@media (max-width: 992px) {
    .mega-menu .image img {
        display: none;
    }
}
@media (max-width: 768px) {
    .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
.mega-menu .links {
    min-width: 250px;
    flex: 1;
}
.mega-menu .links li {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #e9e6e6;
    cursor: pointer;
}
.mega-menu .links li::before {
    content: "";
    position: absolute;
    background-color: #f7f7f7;
    width: 0%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    transition: var(--transition);
}
.mega-menu .links li:hover::before {
    width: 100%;
}
.mega-menu .links li a i {
    margin-right: 10px;
}
.mega-menu .links li a {
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}
/* End Megamenu */
/* End header */

/* Start landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    top: -40px;
    left: 0;
    z-index: -1;
    transform: skewY(-4deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
    
}
.landing .container .text {
    flex: 1;
}
.landing .container .text .active {
    color: var(--main-color);
}
.landing .container .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
.landing .container .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}
.landing .container .image img{
    width: 600px;
    position: relative;
    animation: image-movement 5s linear infinite;

}
.landing .container .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 992px) {
    .landing .container .image img {
        display: none;
    }
    .landing .container .text {
        text-align: center;
    }
    .landing .container .text p {
        margin: 10px auto;
    }
}
@media (max-width: 768px) {
    .landing .container {
        min-height: calc(100vh - 111px);
    }
    .landing .text h1 {
        font-size: 28px;
    }
    .landing .text p {
        font-size: 18px;
    }
}
.landing .container .go-down i {
    animation: bouncing 0.5s cubic-bezier(.5, 0.05, 1, .5) infinite alternate;
}
/* End landing */

/* Start Article */
.article {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.article .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.article .container .box {
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    overflow: hidden;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.article .container .box:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 40%);
}
.article .container .box img {
    width: 100%;
    max-width: 100%;
}
.article .container .box .content {
    padding: 20px;
    border-bottom: 1px solid #e6e6e7;
}
.article .container .box .content h3 {
    margin: 0;
}
.article .container .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.article .container .box .info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--main-color);
}
.article .container .box .info a {
    color: var(--main-color);
    font-weight: bold;
}
.article .container .box .info i {
    font-weight: bold;
    cursor: pointer;
}
.article .container .box:hover i {
    animation: arrow-left 0.6s linear infinite;
    -webkit-animation: arrow-left 0.6s linear infinite;
}
/* End Article */

/* Start Gallery */
.gallery {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    background-color: var(--section-color);
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .container .box {
    padding: 15px; 
    background-color: white;
}
.gallery .container .image {
    position: relative;
    overflow: hidden;
}
.gallery .container .image::before {
    content: "";
    position: absolute;
    background-color: rgb(255 255 255 / 20%);
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
}
.gallery .container .image:hover::before {
    animation: flashing 0.8s ;
    -webkit-animation: flashing 0.8s ;
}
.gallery .container .image img {
    width: 100%;
    max-width: 100%;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.gallery .container .image:hover img{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}
/* End Gallery */

/* Start Features */
.features {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .container .feature {
    border: 1px solid #ccc;
}
.features .container .feature .image {
    position: relative;
    overflow: hidden;
}
.features .container .feature .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent; 
    transition: 0.7s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.features .container .feature:hover .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 500px 170px 0px;
    border-color: transparent transparent white transparent;
}
.features .container .feature .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
}
.features .container .feature .image img{
    width: 100%;
    max-width: 100%;
}
.features .container .quality .image::before  {
    background-color: #f43f369c;
}
.features .container .time .image::before  {
    background-color: #009687a4;
}
.features .container .passion .image::before  {
    background-color: #03a8f494;
}
.features .container .feature .content {
    text-align: center;
}
.features .container .feature .content h2 {
    margin: auto;
    width: fit-content;
    position: relative;
    font-size: 40px;
}
.features .container .feature .content h2::before {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.features .container .quality .content h2::before {
    background: #f44036;
}
.features .container .time .content h2::before {
    background-color: #009688;
}
.features .container .passion .content h2::before {
    background-color: #03a9f4;
}
.features .container .feature .content p {
    color: #777777;
    line-height: 2;
    margin: 30px 0;
    padding: 20px;
    font-size: 20px;
}
.features .container .feature a {
    display: block;
    margin: 0 auto 30px;
    width: fit-content;
    border: 3px solid black;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 6px;
    font-size: 22px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    position: relative;
}
.features .container .feature a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 101%;
    top: 0;
    left: -1px;
    z-index: -5;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.features .container .feature:hover a {
    color: white;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.features .container .quality:hover a::before {
    width: 102%;
    background-color: #f44036;
}
.features .container .time:hover a::before {
    width: 102%;
    background-color: #009688;
}
.features .container .passion:hover a::before {
    width: 102%;
    background-color: #03a9f4;
}
.features .container .quality a {
    color: #f44036;
    border-color: #f44036;

}
.features .container .time a {
    color: #009688;
    border-color: #009688;
}
.features .container .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
}
/* End Features */

/* Start TESTIMONIALS */
.testimonials {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    background-color: var(--section-color);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.testimonials .container .box  {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.testimonials .container .box h3 {
    margin:0 0 10px;
}
.testimonials .container .box .image {
    position: absolute;
    top: -50px;
    right: 0;
}
.testimonials .container .box .image img {
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 10px solid var(--section-color);
}
.testimonials .container .box .rate .fas {
    color: #ffc107;
}
.testimonials .container .box p {
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
}
/* End TESTIMONIALS */

/* Start Team Members */
.team {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.team .container .box {
    padding-top: 60px;
    position: relative;
}
.team .container .box::before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% - 60px);
    background: #f3f3f3;
    top: 0;
    right: 0;
    z-index: -2;
    border-radius: 10px;
}
.team .container .box::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #e4e4e4;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 10px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.team .container .box:hover::after {
    width: calc(100% - 60px);
}
.team .container .box .content {
    display: flex;
    align-items: center;
}
.team .container .box .image img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.team .container .box:hover .image img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.team .container .box .content .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    gap: 20px;
}
.team .container .box .content .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
}
.team .container .box .content .social a i {
    color: #777;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.team .container .box .content .social a:hover .fa-facebook-f {
    color: blue;
}
.team .container .box .content .social a:hover .fa-twitter {
    color: rgb(25, 152, 152);
}
.team .container .box .content .social a:hover .fa-youtube {
    color: red;
}
.team .container .box .content .social a:hover .fa-linkedin-in {
    color: var(--main-color);
}
.team .container .box .info {
    padding: 0 0 0 80px;
}
.team .container .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
}
.team .container .box .infop {
    margin-top: 10px;
    margin-bottom: 25px;
}
/* End Team Members */

/* Start Services */
.services {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    background-color: var(--section-color);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .container .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),                 
                0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    counter-increment: services;
}
.services .container .box::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    top: -3px;
    height: 3px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.services .container .box:hover::before {
    width: 100%;
}
.services .container .box:hover {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}
.services .container .box .content {
    text-align: center; 
}
.services .container .box .content i {
    margin: 30px 0 20px;
    color: #d5d5d5;
}
.services .container .box .content h3 {
    margin: 20px 0 40px;
    font-size: 25px;
    color: var(--main-color);
}
.services .container .box .info {
    background-color: #f9f9f9;
    padding: 15px;
    text-align: right;
    position: relative;
}
.services .container .box .info::before {
    content: "0" counter(services);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    padding-right: 15px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
}
.services .container .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    height: calc(100% + 1px);
    width: 50px;
    left: 80px;
    top: 0;
    transform: skewX(-30deg);
}
.services .container .box .info a {
    color: var(--main-color);
}
/* End Services */

/* Start Skills */
.skills {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.skills .container {
    display: flex;
    align-items: center;
}
@media (max-width: 992px) {
    .skills .container img {
        display: none;
    }
}
.skills .container .info {
    flex: 1;
}
.skills .container .info .skill h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .container .info .skill h3 span {
    font-size: 12px;
    padding: 3px 5px;
    color: var(--main-color);
    border: 1px solid #ccc;
    border-radius: 5px;

}
.skills .container .info .skill .progress {
    width: 100%;
    height: 30px;
    background-color: #eee;
    position: relative;
}
.skills .container .info .skill .progress .the-progress {
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
}
/* End Skills */

/* Start Work Skills */
.work-steps {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    background-color: var(--section-color);
}
.work-steps .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-steps .container .image {
    margin-right: 100px;
    max-width: 100%;
}
.work-steps .container .steps .box {
    margin-bottom: 30px;
    background-color: #f6f5f5;
    display: flex;
    align-items: center;
    padding: 30px;
    border: 2px solid white;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}
.work-steps .container .steps .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #ededed;
    z-index: -1;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.work-steps .container .steps .box:hover::before {
    width: 100%;
    height: 100%;
}
.work-steps .container .steps .box img {
    width: 62px;
    margin-right: 30px;
}
.work-steps .container .steps .box .text h3 {
    font-size: 22px;
    margin: 0;
    cursor: default;
}
.work-steps .container .steps .box .text p {
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
    cursor: default;
}
@media (max-width:1200px) {
    .work-steps .container {
        flex-direction: column;
    }
    .work-steps .container .image {
        margin: 0 0 50px;
    }
    .work-steps .container .steps .box {
        flex-direction: column;
        text-align: center;
    }
    .work-steps .container .steps .box img {
        margin: 0  20px;
    }
}
/* End Work Skills */

/* Start Events */
.events {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
}
.dots {
    position: absolute;
    background-image: url(../imgs/dots.png);
    background-repeat: no-repeat;
    width: 204px;
    height: 186px;
}.up {
    right: 0;
    top: 100px;
}
.down {
    bottom: 200px;
    left: 0;
    z-index: -1000;
}
.events .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.events .container .image {
    max-width: 450px;
}
.events .container .info {
    flex: 1;
}
.events .container .info .time {
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}
.events .container .info .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
}
.events .container .info .time span {
    display: block;
}
.events .container .info .time .unit span:first-child {
    padding: 15px;
    font-size: 35px;
    color: var(--main-color);
    font-weight: bold;
    border-bottom: 2px solid #d4d4d4;
}
.events .container .info .time .unit span:last-child {
    font-size: 13px;
    padding: 8px 10px;
}
.events .container .info .text {
    text-align: center;
}
.events .container .info .text h2 {
    margin: 40px 0 0;
    font-size: 30px;
}
.events .container .info .text p {
    text-align: center;
    line-height: 1.7;
    font-size: 19px;
    color: #777;
}
.events .container .subscripe {
    width: 100%;
    margin-top: 50px;
}
.events .container .subscripe form {
    width: 600px;
    margin: 20px auto;
    background-color: #f6f5f5;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 30px 40px;
    display: flex;
    gap: 20px;
}
.events .container .subscripe form input[type="email"] {
    flex: 1;
    border-style: none;
    border-radius: 50px;
    padding: 20px;
    caret-color: var(--main-color);
}
.events .container .subscripe form input[type="email"]:focus {
    outline: none;
}
.events .container .subscripe form input[type="email"]::placeholder {
    transition: opacity var(--transition);
    -webkit-transition: opacity var(--transition);
    -moz-transition: opacity var(--transition);
    -ms-transition: opacity var(--transition);
    -o-transition: opacity var(--transition);
}
.events .container .subscripe form input[type="email"]:focus::placeholder {
    opacity: 0;
}
.events .container .subscripe form input[type="submit"] {
    background-color: var(--main-color);
    border-radius: 50px;
    padding: 20px;
    color: white;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}
@media (max-width: 992px) {
    .events .container .image {
        display: none;
    }
    .dots {
        display: none;
    }
}
@media (max-width: 768px) {
    .events .container .subscripe form {
        flex-direction: column;
        width: 340px;
        margin: 0px auto;
    }
    .events .container .subscripe form input[type="email"] {
        padding: 10px;
    }
    .events .container .subscripe form input[type="submit"] {
        padding: 10px;
        font-weight: bold;
    }
}
/* End Events */

/* Start Pricing  */
.pricing {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    background-color: var(--section-color);
    position: relative;
}
.pricing .down {
    z-index: 1;
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.pricing .container .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
                0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    text-align: center;
    z-index: 1;
}
.pricing .container .box::before {
    content: "";
    position: absolute;
    background-color: #f6f6f6;
    top: 0;
    left: 0;
    height: 50%;
    width: 0;
    z-index: -1;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.pricing .container .box::after {
    content: "";
    position: absolute;
    background-color: #f6f6f6;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 0;
    z-index: -1;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.pricing .container .box:hover::after,
.pricing .container .box:hover::before {
    width: 100%;
}
.pricing .container .popular {
    bottom: 30px;
}
.pricing .container .box .text {
    text-align: center;
}
.pricing .container .box .mark {
    writing-mode: vertical-lr;
    position: absolute;
    width: 40px;
    padding: 10px 10px 35px 10px;
    right: 20px;
    top: 0;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.pricing .container .box .mark::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;
    bottom: 0;
    left: 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.pricing .container .box:hover .mark::before {
    border-color: transparent transparent #f6f6f6 transparent;
}
.pricing .container .box .text h2 {
    font-weight: bold;
    margin: 30px 0;
    font-size: 25px;
    letter-spacing: -1px;
}
.pricing .container .box .image {
    text-align: center;
}
.pricing .container .box .image img {
    width: 80px;
    margin-bottom: 30px;
}
.pricing .container .box .price {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing .container .box .price span:first-child {
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color);
}
.pricing .container .box .price span:last-child {
    color: #777;
}
.pricing .container .box .features {
    padding: 30px 0;
}
.pricing .container .box .features li {
    padding: 20px 20px;
    border-top: 1px solid #eee;
    text-align: left;
}
.pricing .container .box .features li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.pricing .container .box a {
    display: block;
    margin: 30px auto 40px;
    padding: 15px 20px;
    width: fit-content;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: bold;
    border-radius: 6px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.pricing .container .box a:hover {
    background-color: var(--main-color);
    color: white;
}
@media (max-width: 1198px) {
    .pricing .container .popular {
        bottom: 0px;
    }
}
/* End Pricing  */

/* Start Videos */
.videos {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.videos .container .holder {
    display: flex;
    border: 1px solid #ddd;
    background-color: var(--section-color);
}
.videos .container .holder .top {
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    padding: 20px;
    align-items: center;
    background-color: #f4f4f4;
}
.videos .container .holder .top p {
    margin: 0;
    font-weight: bold;
    cursor: pointer;
}
.videos .container .holder .top i{
    cursor: pointer;
}
.videos .container .holder .video {
    min-width: 300px;
}
.videos .container .holder .video ul li {
    padding: 20px;
    background-color: white;
    border-top: 1px solid var(--section-color);
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.videos .container .holder .video ul li:nth-child(2) {
    background-color: #f4f4f4;
    color: var(--main-color);
}
.videos .container .holder .video ul li:hover {
    color: var(--main-color);
}
.videos .container .holder .video ul li span {
    display: block;
    margin: 10px 0 0 0;
    color: #777;
}
.videos .container .holder .content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    position: relative;
    min-height: 500px;
    order: -1;
}
.frame {
    position: absolute;
    width: 97%;
    height: 67%;
    top: 10px;
    z-index: 2;
}
.videos .container .holder .content .tittle {
    background: white;
    padding: 20px;
}
@media (max-width: 1200px) {
    .frame {
        height: 53%;
    }
}
@media (max-width: 992px) {
    .videos .container .holder {
        flex-direction: column;
    }
    .frame {
    position: absolute;
    width: 97%;
    height: 80%;
    top: 10px;
    z-index: 2;
    }
}
@media (max-width: 600px) {
    .frame {
        height: 76%;
    }    
    .videos .container .holder .content {
        min-height: 350px;
    }
}
@media (max-width: 500px) {
    .frame {
        height: 68%;
        width: 96%;
    }
    .videos .container .holder .content {
        min-height: 300px;
    }
}
/* End Videos */

/* Start Stats */
.stats {
    background-image: url(../imgs/stats.jpg);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
}
.stats::before {
    content: "";
    position: absolute;
    background-color:  rgb(255 255 255 / 95%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.stats h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}
.stats .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats .container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    opacity: 0.8;
    padding: 20px;
    position: relative;
}
.stats .container .box::before {
    content: "";
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: var(--main-color);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.stats .container .box::after {
    content: "";
    position: absolute;
    height: 0;
    top: 0;
    right: 0;
    width: 3px;
    background-color: var(--main-color);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.stats .container .box:hover::before,
.stats .container .box:hover::after {
    height: 100%;
}
.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.stats .container .box span:last-child {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
/* End Stats */
/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount .content {
    text-align: center;
    padding: 0 20px;
}
.discount .image {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/discount-background1.jpg);
    position: relative;
    z-index: 1;
    color: white;
}
.discount .image::before {
    content: "";
    position: absolute;
    background-color: rgb(23 135 224 / 97%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.discount .image .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .image .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}
.discount .image .content img {
    max-width: 100%;
    width: 300px;
}
.discount .form {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.discount .form .content h2{
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .form .content form .input {
    display: block;
    margin-bottom: 25px;
    border: none;
    background-color: #f9f9f9;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #eee;
    caret-color: var(--main-color);
}
.discount .form textarea.input {
    resize: none;
    height: 200px;
}
.discount .form .content form .input:focus {
    outline: none;
}
.discount .form .content form input[type="submit"] {
    width: 100%;
    background-color: var(--main-color);
    border: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.discount .form .content form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
@media (max-width: 768px) {
    .discount {
        flex-direction: column;
    }
}
/* End Discount */

/* Start Footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.footer .container .box {
    color: white;
}
.footer .container .social h1 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .container .social ul {
    display: flex;
}
.footer .container .social ul li {
    margin-right: 10px;
}
.footer .container .social ul li a{
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.footer .container .social ul li:hover:first-child a {
    background-color: #005aff;
}
.footer .container .social ul li:hover:nth-child(2) a {
    background-color: #1da1f2;
}
.footer .container .social ul li:hover:last-child a {
    background-color: red;
}
.footer .container .social p {
    line-height: 2;
    color: #b9b9b9;
}
.footer .container .links ul li {
    padding: 15px 0;
}
.footer .container .links ul li:not(:last-child) {
    border-bottom: 1px solid #444;
}
.footer .container .links ul li a {
    color: #b9b9b9;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.footer .container .links ul li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .container .links ul li:hover a {
    padding-left: 10px;
}
.footer .container .line {
    display: flex;
    color: #b9b9b9;
    margin-bottom: 60px;
}
.footer .container .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}
.footer .container .footer-gallery {
    text-align: center;
    margin-top: 30px;
}
.footer .container .footer-gallery img {
    width: 72px;
    margin: 2px;
    border: 2px solid white;
}
.footer  .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
@media (max-width: 768px) {
    .footer .container {
        text-align: center;
    }
    .footer .container .line {
        flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .footer .container .line i {
        margin-bottom: 20px;
    }
    .footer .container .footer-gallery {
        margin-top: 0;
    }
    .footer .container .social ul {
        justify-content: center;
    }
}
/* End Footer */

/* Start Animation */
@keyframes image-movement {
    0% {
        top: 0;
    }
    50% {
        top: -50px
    }
    100% {
        top: 0;
    }
}
@keyframes bouncing {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 20px, 0);
    }
}
@keyframes left-move  {
    50% {
        width: 15px;
        height: 15px;
        left: 0;
    }
    100% {
        left: 0;
        width: 60%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}
@keyframes right-move  {
    50% {
        width: 15px;
        height: 15px;
        right: 0;
    }
    100% {
        right: 0;
        width: 60%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}
@keyframes arrow-left {
    from {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
    to {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
}
}
@keyframes flashing  {
    0% , 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* End Animation */
